page-edit {
    position: absolute;
    display: block !important;
    border-radius: 15px;

    ion-header { 
        background-color: orangered !important;
    }

    ion-button {
        font-size: 30px !important;
        background: transparent !important;
    }

    ion-icon {
        font-size: 20px !important;
    }

    .message {
        margin-left: 10px;
    }
}
