ion-menu {
    width: 20% !important
}

.toolbar-title-md {
    font-weight: 1;
}

.menuBtn {
    margin-left: 10px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 1;
}

.logo {
    width: 90px;
    height: 90px;
}

.scroll-content{
    overflow-y: auto !important;
}

.sidebarContent, ion-list {
    background-color: #f4f4f4 !important;
}

