page-mispark {
    position: absolute;
    display: block !important;
    border-radius: 15px;

    ion-header { 
        background-color: orangered !important;
    }

    ion-button {
        font-size: 30px !important;
        background: transparent !important;
    }

    ion-content {
        font-size: 15px;
        font-weight: 1
    }

    .misparkGrid .rowHeader {
        background: orangered;
        background: -moz-linear-gradient(top, #fdc543 0%, #fcb91e 66%, #FCB205 100%);
        background: -webkit-linear-gradient(top, #fdc543 0%, #fcb91e 66%, #FCB205 100%);
        background: linear-gradient(to bottom, #fdc543 0%, #fcb91e 66%, #FCB205 100%);
      }

    .misparkRow:nth-child(even) {
        background: rgb(231, 231, 231);
    }
      
    .misparkGrid {
        margin-left: 10px;
    }
}
